<mat-nav-list>
    <div class="aquire logo">
      JOBSpot
    </div>

    <a mat-list-item class="mt-4" routerLinkActive="list-item-active" routerLink="/home">
      <mat-icon>home</mat-icon> <div class ="aquire">Home</div>
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/jobs">
      <mat-icon>work</mat-icon> <div class ="aquire">Jobs</div>
    </a>
    <div *ngIf="this.token.getRole() == '2'">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> <div class ="aquire">Recruiter Dashboard</div>
      </a>
    </div>
</mat-nav-list>
