
  .aquire {
    font-family: 'aquire', 'arial', sans-serif;
  }

  .title {
    font-size: 15pt;
  }

  .arial {
    font-family: 'arial', 'arial', sans-serif;
  }
  
  .primary {
    color: #f0ba27;
  }
  
  .primary-button {
    background-color: #f0ba27;
  }

  .secundary-button {
   background-color: #836514;
  }

  .white-text {
    color: white;
  }

  .small-text {
    color: rgb(194, 194, 194);
    font-size: 10pt;
  }
  