<div *ngIf="info.token; else loggedOut">
    <div *ngIf="info.role == '2'; else noAccess">
        <div class="container-fluid page">
            <div *ngIf="this.error; else applicationForm">
                <div class="d-flex aquire page__box p-4"></div>
                <div class="page__content">
                    <div class="body">{{this.error}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loggedOut>
    <meta http-equiv="refresh" content="0; URL=http://localhost:4200/auth/login" />
</ng-template>

<ng-template #applicationForm>
    <div class="d-flex aquire page__box p-4">{{this.job.title}} dashboard</div>
    <div class="page__content shadow p-4 position-relative">
        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title class="aquire">
                Job Details
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form name="form" (ngSubmit)="f.form.valid && onUpdate()" #f="ngForm" novalidate>
                <div class="form-group mt-2 arial">
                  <label for="title">Title</label>
                  <input type="text" class="form-control arial" name="title" [(ngModel)]="this.job.title" #title="ngModel"
                    required />
                  <div *ngIf="f.submitted && title.invalid">
                    <div *ngIf="title.errors!.required">Title is required!</div>
                  </div>
                </div>
                <div class="form-group mt-2 arial">
                  <label for="description">Description</label>
                  <textarea  cols="40" rows="5" class="form-control arial" name="description" [(ngModel)]="this.job.description" #description="ngModel" 
                    required></textarea>
                  <div *ngIf="f.submitted && description.invalid">
                    <div *ngIf="description.errors!.required">Description is required!</div>
                  </div>
                </div>
                <div class="form-group mt-2 arial">
                  <label for="tags">Tags</label>
                  <input type="text" class="form-control arial" name="tags" [(ngModel)]="this.job.tags" #tags="ngModel"
                    required />
                </div>
                <div class="form-group mt-2 arial">
                  <label for="location">Location</label>
                  <input type="text" class="form-control arial" name="location" [(ngModel)]="this.job.location" #location="ngModel" 
                    required location />
                  <div *ngIf="f.submitted && location.invalid">
                    <div *ngIf="location.errors!.required">Location is required!</div>
                  </div>
                </div>
                <div class="form-group mt-2 arial">
                  <label for="status">Status</label>
                  <input type="status" class="form-control arial" name="status" [(ngModel)]="this.job.status" #status="ngModel"
                    required/>
                  <div *ngIf="f.submitted && status.invalid">
                    <div *ngIf="status.errors!.required">Status is required!</div>
                  </div>
                </div>
                <div class="form-group mt-3">
                    <button mat-raised-button color="edit" (click)="onUpdate()">Update</button><br><br>
                </div>
            </form>
            <button mat-raised-button color="delete" (click)="onDelete()">Delete Job</button>
        </mat-expansion-panel>
        <br>
        <div class="card-header">
            <p class="card-category table-title mt-2">Applications</p>
        </div>
        <table mat-table
            [dataSource]="this.job.applications" multiTemplateDataRows
            class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="element-detail"
                [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="element-description">
                <div class="element-description-titles">Curriculum vitae:</div><button mat-raised-button color="edit" (click)="openCv(element.id)">Open Document</button><br><br>
                <div class="element-description-titles">Actions:</div>
                <button mat-raised-button color="apply" (click)="modifyApplication(element.id, 'Accepted')">Accept Application</button>&nbsp;
                <button mat-raised-button color="delete" (click)="modifyApplication(element.id, 'Rejected')">Reject Application</button>&nbsp;
                <button mat-raised-button color="open" (click)="modifyApplication(element.id, 'Open')">Open Application</button>&nbsp;
                <button mat-raised-button color="close" (click)="modifyApplication(element.id, 'Close')">Close Application</button>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
            class="element-row"
            [class.expanded-row]="expandedElement === element"
            (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
      </table>
    </div>
</ng-template>

<ng-template #noAccess>
    <meta http-equiv="refresh" content="0; URL=http://localhost:4200/home" />
  </ng-template>