.page {
  padding: 1rem;
  background: white;
  &__box {
    min-height: 120px;
    background: white;
    margin: 0 -1rem;
    font-size: 36px;
  }
  &__content {
    min-height: calc(100vh - 178px);
    border-radius: 10px;
    margin-top: -3rem;
    background: white;
    color: black;
    font-size: 2rem;
    &-data {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.aquire {
    font-family: 'aquire', 'arial', sans-serif;
  }