/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: aquire;
    src: url(assets/font/Aquire.otf) format("opentype");
  }

html, body { height: 100%; }
body { margin: 0; font-family: 'aquire', 'arial', sans-serif}

